version: '3.8'

services:
  ml:
    build: .
    environment:
      - JUPYTER_ENABLE_LAB=yes
    volumes:
      - ./:/code
      - ./notebooks:/notebooks
      - /tmp:/tmp
    ports:
      - "8888:8888"
