PyQt5
SQLAlchemy
black
cppimport
ipdb
isort
jupyterlab
jupyterlab_code_formatter
nltk
numba
opencv-python
orange3
pandasql
pomegranate
psycopg2
pybind11
pygraphviz
python-language-server[all]==0.36.2
scikit-learn
seaborn
tensorflow
tensorflow-datasets
toolz
tqdm
