PyQt5
SQLAlchemy
black
cppimport
dask[complete]
ipdb
isort
jupyterlab
jupyterlab_code_formatter
modin[all]
multipledispatch
nltk
numba
opencv-python
orange3
pandasql
plotnine
pomegranate
psycopg2
pybind11
pydot
pygraphviz
python-language-server[all]==0.36.2
ray
scikit-learn
seaborn
tensorflow
tensorflow-datasets
toolz
tqdm
vaex
